/* inicio.css */

/* Ajuste de los márgenes en el contenedor */
.container {
  padding: 30px 10px;
  background-color: #f5f5f5;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}


.image-principal{
  padding: 2px;
  position: relative;
}

.image-principal img{
  border-radius: 10px;
}

.title-principal{
  position: absolute;
  top: 9%;
  left: 20px;
  font-weight: bolder;
  font-size: 2.2rem;
}

/* Títulos de las secciones mejorados */
.section-title {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 25px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* Mejora del grid de productos */
.product-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 tarjetas por fila */
  gap: 20px;
  padding-bottom: 30px;
  justify-items: center; /* Centra cada tarjeta dentro de la celda */
  width: 100%; /* Hace que el grid ocupe todo el ancho disponible */
  max-width: 1100px; /* Limita el ancho máximo */
  margin: 0 auto; /* Asegura que el grid esté centrado */
}

/* Tarjetas de producto con bordes redondeados y sombra */
.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #fff;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  width: 150px; 
  height: 240px; /* altura de las tarjetas */
  border-radius: 10px; /* Bordes redondeados */
}

/* Contenedor de la imagen del producto */
.product-image-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;
  overflow: hidden;
}

/* Efecto hover con aumento de escala */
.product-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}

/* Ajustes a la imagen de los productos */
.product-image {
  width: 160px;
  height: 160px;
  object-fit: contain;
  margin-top: 20px;
  transition: transform 0.3s ease;
}

/* Efecto al pasar el ratón por encima */
.product-card:hover .product-image {
  transform: scale(1.1);
}

/* Estilo de los textos en las tarjetas */
.product-title {
  font-size: 1rem;
  font-weight:400;
  color: #424242;
  margin-top: 10px;
  padding: 0 10px;
}

/* Estilo del precio del producto */
.product-price {
  font-size: 1.1rem;
  font-weight: bolder;
  color: #000000;
  margin-bottom: 15px;
}

/* Ajuste de scrollbar */
.product-grid::-webkit-scrollbar {
  height: 8px;
}

.product-grid::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

/* Contenedor del título y el precio */
.product-details {
  padding: 0px 9px 3px ;
  width: 100%;
  background-color: #ccccccd7;
  text-align: center;
}
