/* Evitar que interfiera con el diseño de Inicio */
.product-detail-content {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh; /* Asegura que ocupe toda la altura de la pantalla */
  padding: 0;
  overflow-y: auto; /* Permite hacer scroll si el contenido es largo */
}

/* Contenedor principal del detalle del producto */
.product-detail-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px; /* Limita el ancho del contenedor */
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

/* Sección de la imagen en detalle del producto */
.product-detail-container .product-image {
  width: 100%;
  height: 50vh; /* La imagen ocupará la mitad de la pantalla */
  background-color: #eee;
  display: flex;
  justify-content: center; /* Centra la imagen horizontalmente */
  align-items: center; /* Centra la imagen verticalmente */
  padding: 70px;
  margin: 0;
}

.product-detail-container .product-image img {
  width: 100%;
  height: auto; /* Asegura que la imagen sea proporcional */
  object-fit: contain; /* La imagen no se recorta y se ajusta proporcionalmente */

}

/* Sección de la información del producto */
.product-info {
  background-color: #ffffff;
  padding: 20px;
  overflow-y: auto; /* Permite hacer scroll si el contenido es largo */
}

/* Información del producto */
.product-info .product-title {
  font-size: 1.6rem;
  font-weight: bold;
  color: #424242;
  margin-bottom: 10px;
  text-align: left; /* Centra el título */
}

.product-info .product-brand {
  font-size: 1rem;
  color: #777;
  margin-bottom: 15px;
  text-align: left; /* Centra la marca */
}

.product-info .product-price {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000000;
  margin-bottom: 20px;
  text-align: left; /* Centra el precio */
}

/* Opciones de color */
.color-options {
  display: flex;
  justify-content: left; /* Centra las opciones de color */
  align-items: center;
  margin-bottom: 20px;
}

.color-options span {
  font-size: 1.1rem;
  margin-right: 10px;
  color: #000000;
}

.color-option {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 5px;
  border: 2px solid #ccc;
  cursor: pointer;
  transition: transform 0.3s;
}

.color-option.selected {
  transform: scale(1.1);
  border-color: #ccb8b8;
}

/* Botones de acción */
.action-buttons {
  width: 100%;
  margin-top: 20px;
}

.add-to-cart-btn {
  margin-bottom: 10px;
}

.add-to-favorites-btn {
  background-color: #eee;
  color: #ffffff;
}


