/* Animación de los Triangulos */
@keyframes growOrange {
  0% {
    clip-path: polygon(0 0, 0 0, 0 0);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 0 100%);
  }
}

@keyframes growDark {
  0% {
    clip-path: polygon(100% 100%, 100% 100%, 0 100%);
  }
  100% {
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
  }
}

@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-8px); }
  100% { transform: translateY(0); }
}

/* Animación del logo */
@keyframes showLogo {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Fondo Contenido */
#container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
  left: 0;
  right: 0;
  transform: translateY(-6.6%);

  position: absolute;
}

/* Diseño Triangulo + Animación */
.triangle-orange,
.triangle-dark {
  width: 100%;
  height: 100%;
  position: absolute;
}

.triangle-orange {
  background: #FB6F02;
  clip-path: polygon(0 0, 100% 0, 0 100%);
  z-index: 1;
  animation: growOrange 1.5s ease-out forwards, float 4s ease-in-out infinite;
  animation-delay: 0s, 1.6s;
}

.triangle-dark {
  background: orange;
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
  z-index: 2;
  animation: growDark 1.5s ease-out forwards, float 4s ease-in-out infinite;
  animation-delay: 0s, 1.6s;
}

/* Diseño del logo + Animación */
.logo-img {
  width: 90vw;
  z-index: 3;
  position: relative;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, .8));
  opacity: 0;
  transform: scale(0.1);
  animation: showLogo 1s ease-out forwards, float 4s ease-in-out infinite;
  animation-delay: 1.5s, 2.6s;
}